
<form [formGroup]="customerForm" >
    <h1 >Booking register</h1>
    <div class="row">
    
        <div class="col-md-6">
            <mat-form-field class="example-full-width w-100" appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="Enter first name" formControlName="firstName" >
              </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="example-full-width w-100" appearance="outline">
                <mat-label>Middle name</mat-label>
                <input matInput placeholder="Enter Middle name" formControlName="middleName" >
              </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="example-full-width w-100" appearance="outline">
                <mat-label>last name</mat-label>
                <input matInput placeholder="Enter last name" formControlName="lastName" >
              </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="example-full-width w-100" appearance="outline">
                <mat-label>address</mat-label>
                <input matInput placeholder="Enter your address" formControlName="address">
              </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="example-full-width w-100" appearance="outline">
                <mat-label>email</mat-label>
                <input matInput placeholder="Enter your email"  formControlName="email">
              </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="example-full-width w-100" appearance="outline">
                <mat-label>Gender</mat-label>
                <input matInput placeholder="Enter your Gender" formControlName="gender">
              </mat-form-field>
        </div>
    
    </div>
    <button mat-raised-button color="primary" [disabled]="customerForm.invalid" (click)="onSave()"><mat-icon>save</mat-icon> save</button>
    </form>